<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Aytuls MVC Blog Home </title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/startbootstrap-blog-home-gh-pages/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/startbootstrap-blog-home-gh-pagescss/blog-home.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="container">
            <a class="navbar-brand" href="#">Aytul's Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Home/Index/">
                            Anasayfa
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Hakkimizda/">Ben kimim?</a>
                    </li>
                    
                    
                </ul>



                <ul class="nav navbar-nav navbar-right top-nav">
                    @if (Session["uyeid"] != null)
                    {
                        

                         

                                <li>
                                    <a href="/Uye/Index/@Session["uyeid"]">@Session["kullaniciadi"].ToString()<i class=""></i> Profil</a>
                                </li>
                                <li>
                                    <a href="/Uye/Logout/"> Çıkış </a>
                                </li>



                                if (Convert.ToInt32(Session["yetkiid"]) == 1)
                                {
                                    <li>
                                        <a href="/Admin/Index/"> Admin Paneli</a>
                                    </li>
                                }
                               

                       
                    }
                    else
                    {
                        <li>
                            <a href="/Uye/Login/">Giriş - - </a>
                        </li>
                        <li>
                            <a href="/Uye/Create/">  Kayıt OL</a>
                        </li>
                    }
                </ul>

            </div>
        </div>

    </nav>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8">
                @RenderBody()
            </div>
               
                <!-- Blog Post -->
               
           
                       
            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">
                <!-- Search Widget -->
                <div class="card my-4">
                    
                    <h5 class="card-header">Ara</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Kastamonu için">
                            <span class="input-group-append">
                                <button class="btn btn-secondary" type="button">Ara ve bul!</button>
                            </span>
                        </div>
                    </div>
                </div>
                
                <!-- Categories Widget -->
                <div class="card my-4">
                    @{ 
                        Html.RenderAction("KategoriPartial", "Home");
                    }

                </div>
                <!-- Side Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Neden böyle bir website var?</h5>
                    <div class="card-body">
                        Yaptığım ilk ASP.NET MVC projemde kendimi ve memleketimi tanıtmak istedim,zaman ayırdığınız için teşekkür ederim :)
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website @DateTime.Now.Year</p>
        </div>
        <!-- /.container -->
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/startbootstrap-blog-home-gh-pagescss/jquery.min.js"></script>
    <script src="~/Content/startbootstrap-blog-home-gh-pagescss/bootstrap.bundle.min.js"></script>
</body>
</html>
