
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-8">
   <p><center><h4>Benim hakkımda</h4> </center></p>
            <p><center><img src="https://avatars3.githubusercontent.com/u/65277922?s=460&u=766c3db7bd9f0f7552488ee60bc4dcd7c46cc584&v=4" alt="Aytül Gürbüz" height="350" width="350"></center></p>
    <div class="card-body">
      
        <p> <center> Ben Aytül Gürbüz 3 mayıs 1996 yılında Kastamonu'da doğdum.İlköğetim ve ortaöğretimimi Kastamonuda tamamladıktan sonra Selçuk Üniversitesi Bilgisayar Mühendisliği bölümünü kazandım.İki sene sonra yatay geçiş ile Kastamonu Üniversitesinde eğitim hayatıma devam ettirdim.Yazılım yapmayı seviyorum ve mezun olmama sayılı günler kala bu projeyi yapmaktan zevk duyuyorum. </center></p>
       
    </div>
</div>
